<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluacion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body class="container mt-5">

    <div class="alert alert-info display-1 text-center"> Cantantes Urbanos
    </div>

    <div class="row">
        {% if op == 1 %}
        <div class="col"><a href="anuel" class="btn p-3 btn-info w-100 disabled">Anuel</a></div>
        {% else %}
        <div class="col"><a href="anuel" class="btn p-3 btn-info w-100">Anuel</a></div>
        {% endif %}


        {% if op == 2 %}
        <div class="col"><a href="almighty" class="btn p-3 btn-success w-100 disabled">Almighty</a></div>
        {% else %}
        <div class="col"><a href="almighty" class="btn p-3 btn-success w-100 ">Almighty</a></div>
        {% endif %}

        {% if op == 3 %}
        <div class="col"><a href="luar" class="btn p-3 btn-warning w-100 disabled">Luar</a></div>
        {% else %}
        <div class="col"><a href="luar" class="btn p-3 btn-warning w-100">Luar</a></div>
        {% endif %}
        
    </div>

    {% if op == 1 or op == 2 or op == 3 %}
    <div class="d-flex justify-content-center">
        <div class="mt-5 card text-center" >
            <img src="{% static imagen %}" class="card-img-top" width="350px" height="300px">
            <div class="card-body">
              <h5 class="card-title">{{nombre}}</h5>
              <p class="card-text">{{edad}}</p>
              <p class="card-text">{{nombrereal}}</p>
              <p class="card-text">{{genero}}</p>
            </div>
        </div>
    </div>
    {% endif %}

    <a href="/" class="btn btn-info mt-5">Volver</a>

    
</body>
</html>